.cart_container {

    margin-top: 60px; 
}

.select {
    padding: 10px 40px;
}

ul{
    list-style: none;
}

.name{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    margin-bottom:20px;
    width: 80%;
    margin: 20px auto;
}

.total{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
    width: 80%;
    margin: 20px auto;
}

span {
    color: blueviolet;
    font-size: 1.2rem;
}